<aside class="aside-bar">
  <header>
    <button class="button-improve">
      <img src="assets/svg/vote-icon-white.svg" alt="" srcset="" />
      <img src="assets/svg/vote-icon-white.svg" alt="" srcset="" />
      <p>Melhore suas votações</p>
    </button>
  </header>

  <section>
    <button (click)="navigateToHome()">
      <img class="icon-button" src="assets/svg/home-icon-red.svg" alt="" srcset="" />
      <span>página inicial</span>
      <img class="icon-arrow" src="assets/svg/simple-arrow-grey.svg" alt="" srcset="" />
    </button>
  </section>

  <section>
    <button>
      <img class="icon-button" src="assets/svg/vote-icon-red.svg" alt="" srcset="" />
      <span>iniciar votação</span>
      <img class="icon-arrow" src="assets/svg/simple-arrow-grey.svg" alt="" srcset="" />
    </button>
    <button (click)="navigateToTrackVoting()">
      <img class="icon-button" src="assets/svg/track-voting-red.svg" alt="" srcset="" />
      <span>acompanhar votações</span>
      <img class="icon-arrow" src="assets/svg/simple-arrow-grey.svg" alt="" srcset="" />
    </button>
    <button>
      <img class="icon-button" src="assets/svg/authorize-voting-red.svg" alt="" srcset="" />
      <span>autorizar votação</span>
      <img class="icon-arrow" src="assets/svg/simple-arrow-grey.svg" alt="" srcset="" />
    </button>
  </section>
  <section>
    <button>
      <img class="icon-button" src="assets/svg/add-section-red.svg" alt="" srcset="" />
      <span>adicionar sessão</span>
      <img class="icon-arrow" src="assets/svg/simple-arrow-grey.svg" alt="" srcset="" />
    </button>
  </section>
  <section>
    <button>
      <img class="icon-button" src="assets/svg/see-section-icon-red.svg" alt="" srcset="" />
      <span>ver sessões</span>
      <img class="icon-arrow" src="assets/svg/simple-arrow-grey.svg" alt="" srcset="" />
    </button>
    <button>
      <img class="icon-button" src="assets/svg/trophy-red.svg" alt="" srcset="" />
      <span>ver resultados</span>
      <img class="icon-arrow" src="assets/svg/simple-arrow-grey.svg" alt="" srcset="" />
    </button>
  </section>

  <section>
    <button>
      <img class="icon-button" src="assets/svg/default-icon-user-red.svg" alt="" srcset="" />
      <span>ver perfil</span>
      <img class="icon-arrow" src="assets/svg/simple-arrow-grey.svg" alt="" srcset="" />
    </button>
  </section>
</aside>
