@mixin overflow-ellipsis {
  max-width: 100%;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

@mixin center-horizontal {
  left: 50%;
  transform: translateX(-50%);
}