$default-color-white: #ffffff;
$default-color-black: #000000;

$color-accent-500: #b20000;
$color-accent-600: #860909;

$dominant-color-50: #E8E8E8;
$dominant-color-100: #959595;
$dominant-color-200: #777777;
$dominant-color-1000: #2c2c2c;
$background-color-100: #f7f7f7;
