@use '../../../../../../styles/variables.scss' as v;

input{
    background-color: v.$dominant-color-50;
    text-align: center;
    border-bottom: 3px solid v.$dominant-color-1000;
    color: v.$dominant-color-1000;
    height: 100%;
    max-height: 100px;
    width: 100%;
    max-width: 400px;
}
img{
    text-align: end;
}