@use '../../../../../styles/variables.scss' as v;
@use '../../../../../styles/mixins.scss' as m;

:host{
  width: 100%;
}

.card-result {
  background-color: v.$default-color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  width: 100%;

  .container-image {
    background-color: v.$color-accent-500;
    img {
      width: 80px;
      height: 80px;
      padding: 0.5rem;
    }
  }
  .container-text {
    text-align: left;
    .text-result {
      color: v.$default-color-black;
      font-size: 1.45rem;
      font-weight: 600;
      @include m.overflow-ellipsis;
    }
    .date-result {
      color: v.$dominant-color-100;
      font-size: 1rem;
      margin-top: 0.3rem;
      font-weight: 500;
    }
  }

  .container-info {
    display: flex;
    margin-right: 1rem;
    .container-quantity-votes {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      align-items: center;

      img {
        width: 35px;
        height: 35px;
      }
      .quantity-votes {
        white-space: nowrap;
      }
    }
    .badget {
      background-color: v.$dominant-color-1000;
      color: white;
      height: fit-content;
      border-radius: 4px;
      padding: 0.2rem 0.4rem;
      width: 100%;
      text-align: left;

      .text-badget {
        width: 100%;
        @include m.overflow-ellipsis;
      }
    }
  }
}
